<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>BBLACK</h1>
                <p>My blog</p>
            </div>
            <h1 class="col-sm-6"></h1>
            <div class="col-sm-2">
                <span>Git</span>
                <%if(show===false){%>
                <p onclick="window.location.href='/login'">Do you want to edit?</p>
                <%}%>
                <%if(show===true){%>
                <p onclick="window.location.href='/logout'">Logout</p>
                <%}%>
            </div>
        </div>
    </div>
    <div class="container">
        <%if(show===true){%>
        <a href="/blogs/new" class="btn btn-success">New blog</a>
        <%}%>
        <% blogs.forEach(blog=> { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= blog.title %>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= blog.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= blog.description %>
                    </div>
                    <a href="blogs/<%= blog.slug %>" class="btn btn-primary">Read More</a>
                    <%if(show===true){%>
                    <a href="blogs/edit/<%= blog.id %>" class="btn btn-info">Edit</a>
                    <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <%}%>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>